# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build outputs
# =========================
dist/
build/
coverage/

# =========================
# Environment files
# =========================
.env
.env.local
.env.production
.env.development

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# =========================
# VS Code / Visual Studio
# =========================
.vscode/
.vs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tauri
# =========================
src-tauri/target/

# =========================
# Electron
# =========================
out/

# =========================
# Runtime / temp
# =========================
tmp/
temp/

# =========================
# Cache
# =========================
.cache/

# =========================
# Prisma generated
# =========================
generated/

# =========================
# Uploads
# =========================
uploads/

# =========================
# PM2
# =========================
.pm2/

# =========================
# SSL / Certificates
# =========================
*.pem
*.key
*.crt

.vs/

**/tauri-update.key
**/tauri-update.key.pub